<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap2 uap3 uap10 com desktop desktop4 desktop5 desktop6 rescap">

  <Identity
    Name="Aptlantis.FilingCabinet"
    Publisher="CN=81D6747D-F84F-4EFF-ACAA-9635D91ACCD0"
    Version="0.1.2.1" />

  <Properties>
    <DisplayName>Filing Cabinet</DisplayName>
    <PublisherDisplayName>Aptlantis</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <uap10:PackageIntegrity>
      <uap10:Content Enforcement="on"/>
    </uap10:PackageIntegrity>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.26200.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us"/>
  </Resources>

  <Applications>
    <Application Id="filingCabinet"
      Executable="$targetnametoken$.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Filing Cabinet"
        Description="Filing Cabinet is a local-first desktop vault for digital artifacts you want to keep, find, verify, and recover later."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\MedTile.png"
        Square44x44Logo="Assets\AppList.png">
        <uap:DefaultTile Wide310x150Logo="Assets\WideTile.png" />
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="Filing Cabinet shell commands">
              <com:Class
                Id="8266646F-93D6-4D83-B068-BB0D6858BF83"
                Path="FilingCabinetShellExtension.dll"
                ThreadingModel="STA" />
              <com:Class
                Id="B61E36E1-BB0B-46A5-950B-56789246198B"
                Path="FilingCabinetShellExtension.dll"
                ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type="*">
              <desktop5:Verb
                Id="CopyToFilingCabinet"
                Clsid="8266646F-93D6-4D83-B068-BB0D6858BF83" />
              <desktop5:Verb
                Id="MoveToFilingCabinet"
                Clsid="B61E36E1-BB0B-46A5-950B-56789246198B" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory">
              <desktop5:Verb
                Id="CopyDirectoryToFilingCabinet"
                Clsid="8266646F-93D6-4D83-B068-BB0D6858BF83" />
              <desktop5:Verb
                Id="MoveDirectoryToFilingCabinet"
                Clsid="B61E36E1-BB0B-46A5-950B-56789246198B" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
